.header {
	transition: transform 0.3s ease 0s;
	@media (max-width: $mobileSize) {
		&._hidden {
			transform: translateY(-100%);
		}
	}
	@media (min-width: $desktopSize) {
		transition: transform 0.3s ease 0s, top 0.3s ease 0s;
		&._hiddenPC {
			position: fixed;
			top: 0;
			left: 0;
			transform: translateY(-80%);
			background-color: $headerBG;
			transition: transform 0.3s ease 1s, top 0.3s ease 0s;
			&:after {
				position: absolute;
				bottom: -5px;
				display: inline-block;
				content: "";
				left: 50%;
				transform: translateX(-50%);
				border: 10px solid transparent;
				border-top: 10px solid #fff;
			}
			&:hover {
				transform: translateY(0);
				transition: transform 0.3s ease 0s, top 0.3s ease 0s;
			}
		}
	}
}
