.header {
	display: none;
	width: 100%;
	z-index: 10;
	@media (max-width: $mobileSize) {
		position: fixed;
		top: 0;
		left: 0;
	}

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		min-height: $headerHeight;
	}

	&__logo {
		z-index: 1;
	}
}

@media (max-width: $mobileSize) {
	.header {
		background-color: $headerBG;
	}
	.header-under {
		height: $headerHeight;
	}
}
