@font-face {
	font-family: "icons";
	src: url("../fonts/icons.ttf?hezz6l") format("truetype"), url("../fonts/icons.woff?hezz6l") format("woff"),
		url("../fonts/icons.svg?hezz6l#icons") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="_i-"]::before,
[class*=" _i-"]::before {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icons" !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

._i-angle:before {
	content: "\e900";
}
._i-facebook:before {
	content: "\e901";
}
._i-flickr:before {
	content: "\e902";
}
._i-google-plus:before {
	content: "\e903";
}
._i-linkedin:before {
	content: "\e904";
}
._i-skype:before {
	content: "\e905";
}
._i-twitter:before {
	content: "\e906";
}
._i-vimeo:before {
	content: "\e907";
}
._i-youtube:before {
	content: "\e908";
}
