//-----------modal

.portfolio-modal {
	//padding: 50px;
	//position: relative;
	//display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: -100%;
	left: 0;
	//opacity: 1;
	transition: top 0.5s ease 0s;
	&.visible {
		//display: block;
		top: 0%;
		//opacity: 1;
		transition: top 0.5s ease 0s;
	}
	//background-color: transparent; // for backdrop-filter
	background-color: #000000ee;
	opacity: 1;
	//backdrop-filter: blur(3px);
	z-index: 100;
	&__close {
		z-index: 1;
		cursor: pointer;
		position: absolute;
		width: 40px;
		height: 40px;
		background: #22222288;
		opacity: 0.8;
		right: 20px;
		top: 20px;
		&:hover {
			opacity: 1;
		}

		span {
			//pointer-events: none;
			position: relative;
			top: 50%;
			transform: translateY(-50%) rotate(45deg);

			&::after {
				position: absolute;
				content: "";

				transform: rotate(90deg);
			}
		}
		span,
		span::after {
			background-color: #fff;
			display: block;
			width: 100%;
			height: 3px;
		}
	}

	&-slider {
		width: 100%;
		height: 100%;
	}
	&__swiper {
		height: 100%;
	}

	&__slide {
	}
	&__image {
		position: relative;
		height: 100%;
		img {
			z-index: -1;
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			object-fit: contain;
		}
	}
	&__content {
		position: absolute;
		top: 0;
		left: 0;
	}
	&__title {
	}
	&__subtitle {
	}
	.swiper-pagination {
	}
	.swiper-scrollbar {
		background: #ffffff11;
		height: 15px;
	}
	.swiper-scrollbar-drag {
		background: #ffffff55;
	}
}
