$color: "0,255,255";

._preload {
	transition: opacity 0.5s ease 3s;
	&._loaded {
		background-color: transparent;
	}
}

._enter {
	._preload {
		opacity: 0;
	}
}

.preload__loading {
	display: none;
	animation: none;
}

.preload__button {
	display: inline-block;
	position: absolute;
	bottom: 16vh;
	right: 16vw;
	min-width: 16vw;
	height: 16vh;
	text-align: center;
	font-size: 6vh;
	line-height: 16vh;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: 700;
	color: #000;
	background-color: rgba(0, 25, 25, 1);
	transition: transform 0.7s ease 1s, color 0.3s cubic-bezier(0.3, 1.94, 0, -0.86),
		background-color 0.3s cubic-bezier(0.3, 1.94, 0, -0.86);
	z-index: 10000;
	cursor: pointer;
	pointer-events: all;
	&::after,
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		pointer-events: none;
		box-shadow: 0 0 40px 0 rgba(0, 255, 255, 0);
		border: 2px solid rgba(0, 255, 255, 0.1);
		transition: margin 0.6s ease, height 0.6s ease, width 0.6s ease, border 0.2s ease, box-shadow 0.4s ease;
	}
	&::before {
		height: 10000px;
		margin-top: -5000px;
		margin-left: -26vw;
		width: 52vw;
	}
	&::after {
		width: 10000px;
		margin-left: -5000px;
		margin-top: -26vh;
		height: 52vh;
	}
	@media (any-hover: hover) {
		&:hover {
			background-color: #00ffff33;
			color: rgba(0, 255, 255, 1);
			text-shadow: 0px 0px 16px rgba(0, 255, 255, 1);
			&::after,
			&::before {
				border: 0.5px solid rgba(0, 255, 255, 0.5);
				box-shadow: 0 0 40px 0 rgba(0, 255, 255, 0.1), inset 0 0 40px 0 rgba(0, 255, 255, 0.1);
			}
			&::after {
				height: 100%;
				margin-top: 0;
			}
			&::before {
				width: 100%;
				margin-left: 0;
			}
		}
	}
}

.matrix {
	//pointer-events: none;
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ffffff00; //linear-gradient(to bottom, #000000 85%, #191621 100%);
	cursor: url("/img/crosshair-cur.cur"), crosshair;
	&__star {
		width: 1.5em;
		height: 1.5em;
		text-align: center;
		line-height: 1.5em;
		box-sizing: content-box;
		user-select: none;
		border-radius: 50%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: scale(0);
		//animation: matrix-star ease-in infinite 3s;
		transition: top 3s cubic-bezier(0.58, 0.18, 1, 0.24), left 3s cubic-bezier(0.58, 0.18, 1, 0.24),
			transform 3s cubic-bezier(0.76, 0.04, 0.96, 0.24), zoom 2s ease;
		&:hover {
			outline: 5px dashed rgba(0, 255, 255, 0.1);
		}
	}
}

.wrapper {
	transform: scale(0) rotate3d(1.2, 1, 1.5, 140deg);

	transition: transform 3s linear;
}

body._enter .wrapper {
	transition: 2s cubic-bezier(0.46, 0.06, 0.66, 0.91);
	transform: scale(1) rotate3d(0, 0, 0, 0);
}
