//-----------------------------SLIDER---SWIPER--------
//		https://swiperjs.com/

//Use Swiper from CDN

//<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>

//<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

//CSS - we may need to add some custom styles to set Swiper size:
.new-slider {
	.new-slider__image {
		width: 100%;
		padding-bottom: 65%;
	}
	.swiper {
		width: 100%;
	}
}

//-------------------------------------------------------------------------------
