//-----------------------------SLIDER---SWIPER--------
//		https://swiperjs.com/

//Use Swiper from CDN

//<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>

//<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

//CSS - we may need to add some custom styles to set Swiper size:
.main-slider {
	.swiper-pagination {
		left: 10px;
		top: 20px;
		transform: translate(0);
		border-left: 1px solid rgba(0, 255, 255, 1);
	}
	.swiper-pagination-bullet {
		border-radius: 0;
		width: 0.2em;
		//height: 50px;
		//background-color: transparent;
		//border-top: 3px solid rgba(0, 255, 255, 1);
		height: 1px;
		background-color: rgba(0, 255, 255, 1);
		opacity: 1;
		position: relative;
		margin: 0;
		&::after {
			content: "";
			position: absolute;
			top: -8px;
			left: 110%;
			color: rgba(0, 255, 255, 1);
			font-size: 12px;
			transition: color 0.3s ease 1s, width 0.3s ease 1s;
		}
		&:not(:last-child) {
			margin: 0 0 10px 0;
		}
		&-active {
			width: 0.5em;

			&::after {
				content: "portfolio";
				color: rgba(0, 255, 255, 0);
			}

			&::before {
				position: absolute;
				content: "scroll";
				left: -5px;
				top: 50px;
				color: rgba(0, 255, 255, 0.5);
				writing-mode: vertical-rl;
				text-orientation: upright;
				font-size: 14px;
				letter-spacing: -1.5px;
				opacity: 0;
			}

			&:first-child {
				&::after {
					content: "home";
				}

				&::before {
					opacity: 1;
				}
			}
			&:last-child {
				&::after {
					content: "intoch";
				}
			}
		}
	}
}

//-------------------------------------------------------------------------------
