button,
label,
input,
select,
progress,
meter {
	display: block;
	font-family: inherit;
	font-size: 100%;
	margin: 0;
	box-sizing: border-box;
	width: 100%;
}

//---------------------------------------------
.some {
	&__wrapper {
		width: 100%;
	}
}
.form {
	position: relative;

	&::before {
		content: "";
		//pointer-events: none;
		z-index: 10;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #000;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s ease 0s;
	}
	&::after {
		transition: opacity 0.3s ease 0s;
		opacity: 0;
		z-index: 11;
		position: absolute;
		content: "";
		top: 50%;
		left: 50%;
		border-radius: 50%;
		border-top: 5px solid #fff;
		border-left: 5px solid #ffffff77;
		border-bottom: 5px solid #ffffff22;
		border-right: 5px solid #ffffff08;
		height: 50px;
		width: 50px;

		animation: rotate-spinner 1s cubic-bezier(0.4, 0.2, 0.5, 0.9) infinite;
	}
	&._sending::after,
	&._sending::before {
		opacity: 0.8;
		visibility: visible;
	}
}
@keyframes rotate-spinner {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}
.form__item {
}
.form__label {
}
.form__input {
	width: 100%;
	&._error {
		box-shadow: inset 0 0 5px 2px red;
	}
	&:focus {
		box-shadow: 0 0 15px #ccc;
	}
}
textarea.form__input {
	min-height: 100px;
	resize: vertical;
}

.options {
}
.options__item {
}
.options__input {
	display: none;
	&:checked + .options__label::after {
		transform: scale(1);
	}
}
.options__label {
	display: inline-flex;
	align-items: center;
	position: relative;
	cursor: pointer;
	&::before {
		content: "";
		align-self: flex-start;
		flex: 0 0 24px;
		height: 24px;
		background-color: #fff;
		border-radius: 50%;
		margin: 0 10px 0 0;
	}
	&::after {
		transition: transform 0.3s ease 0s;
		content: "";
		position: absolute;
		top: 4px;
		left: 4px;
		width: 16px;
		height: 16px;
		background-color: #aaa;
		border-radius: 50%;
		transform: scale(0);
	}
}
.select {
}
.form__title {
}
.file {
}
.file__item {
	position: relative;
}
.file__input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	font-size: 0;
	cursor: pointer;
}
.file__btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
}
.file__preview {
	display: inline-block;
	max-width: 320px;
	img {
		max-width: 100%;
	}
}
.checkbox {
}
.checkbox._error .checkbox__label::before {
	box-shadow: inset 0 0 5px 2px red;
}

.checkbox__input {
	display: none;
	&:checked + .checkbox__label::after {
		transform: scale(1);
	}
	&:checked + .checkbox__label::before {
		box-shadow: none;
	}
}
.checkbox__label {
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	position: relative;
}
.checkbox__label::before {
	content: "";
	flex: 0 0 24px;
	height: 24px;
	background-color: #fff;
	align-self: flex-start;
	margin: 0px 10px 0px 0px;
}
.checkbox__label::after {
	content: "";
	position: absolute;
	top: 4px;
	left: 4px;
	width: 16px;
	height: 16px;
	background-color: #aaa;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
}
.form__btn {
}
