.spoller {
	&__item {
	}
	&__title {
		position: relative;
		width: 100%;
		background-color: transparent;
		color: inherit;
		font-size: inherit;
	}
	&_text {
	}
	&__title {
	}
}
.spoller._init .spoller__title {
	cursor: pointer;
}
.spoller._init .spoller__title::before,
.spoller._init .spoller__title::after {
	content: "";
	width: 20px;
	height: 1px;
	position: absolute;
	right: 10px;
	top: 20px;
	transition: transform 0.3s ease 0s;
	background: #aaa;
}
.spoller._init .spoller__title::after {
	transform: rotate(-90deg);
}
.spoller._init .spoller__title._active::after {
	transform: rotate(0deg);
}
.spoller_1 {
}
.spoller_2 {
}
.spoller_3 {
}
